/* .wrapper-class{
    padding: 1rem;
  border: 1px solid #ccc
}

.toolbar-class {
    border: 1px solid #ccc;
  } */

  .quill{
    width: 40vw;
    border: 1;
  }

  .quillButton{
    margin-left: -12px;
  }

  .comments p{
    font-weight: bold;
    line-height: 20px;
  }