form{
    margin-top: 10vh;
}
input{
    width: 76.2px;
    height: 50px;
    border: none;
    border-bottom: 2px solid;
    background-color: transparent;
    text-align: center;
    line-height: 60px;
    /* outline: none; */
}

input:focus {
   border: none;
    border-bottom: 2px solid black;
    outline: none;
  }
.inputBox{
    /* position: relative; */
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;

    /* border: 1px solid; */
    /* top: -10px; */
    /* gap :  */
}

/* input:focus{
    outline:none;
    color:black;
} */