form{
    margin-top: 10vh;
    position: relative;
    top: -11vh;
    /* padding : 10px 0px; */
    /* border: 1px solid; */
}
input{
    width: 76.2px;
    height: 50px;
    border: none;
    border-bottom: 2px solid;
    background-color: transparent;
    text-align: center;
    line-height: 60px;
    /* outline: none; */
}

input:focus {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
  }
.inputBox{
    /* position: relative; */
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

a{
    /* margin-top: -10vh; */
    display: inline;
    /* border: 1px solid; */
    color: blue;
    /* background-color: blue; */
}

.links{
    position: relative;
    top: -25vh;
}
p{
    display: inline;
}