  Input:hover{
    cursor: pointer;
}

.text{
font-size: 20px;
font-weight: bold;
/* font-family: inder; */
}
.tableContainer{
    width: 60vw;
    background-color: white ;    
    overflow-x: hidden;
    border: 1px solid;
    height :65vh;
    border-color: lightgray;
}