ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

Input:hover{
    cursor: pointer;
}

.text{
font-size: 20px;
font-weight: bold;
/* font-family: inder; */
}
div{
    width: 60vw;
    /* border: 1px solid; */
    overflow-x: hidden;
}